hbody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    padding: 2em;
}

form {
    margin-bottom: 2em;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input, textarea {
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

.card {
    display: grid;
    gap: 2px;
    border: 1px solid #ddd;
    margin: 1em;
}

    .card div {
        background-color: #fff;
        border: 1px solid #ddd;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        box-sizing: border-box;
    }

    .card.freeSpace {
        background-color: #ffeb3b;
    }
